<app-logo [size]="logoSize" />
<div class="social-media__container">
  <div class="social-media__icon">
    <img src="assets/icons/facebook.svg" alt="" />
  </div>
  <div class="social-media__icon">
    <img src="assets/icons/instagram.svg" alt="" />
  </div>
  <div class="social-media__icon">
    <img src="assets/icons/twitter.svg" alt="" />
  </div>
</div>
<div class="footer__text-container">
  <p class="footer__text--bold">Líneas de atención al cliente</p>
  <p class="footer__text">
    Lunes a viernes de 6:00am a 9:00pm.<br />Sábados, domingos y festivos de
    6:00am a 6:00pm
  </p>
  <p class="footer__text">(601) 390 6962<br />Línea directa Bogotá</p>
  <p class="footer__text">
    Avenida El Dorado # 103-08 Interior 11 Bogotá-Colombia.
  </p>
</div>
