.theme-switcher {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 96px;

    .theme-switcher__toggle {
        cursor: pointer;
        transform: scale(2);
    }
}