.landing-satena {
  width: 100vw;
  height: 100%;
  padding-top: 64px;
  padding-bottom: 40px;
  padding-left: 16px;
  padding-right: 16px;
  background: white;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 62px;
  display: inline-flex;
  overflow-x: hidden;
}
