@use '../../../styles/setting/variables' as var;

.button {
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.primary {
    background: var.$app-primary;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.10);
    border-radius: 10px;

    &:hover {
        background: var.$app-primary-hover;
    }

    &:active {
        background: var.$app-primary-pressed;
    }

    span {
        color: var.$app-primary-text;
        font-size: 14px;
        font-weight: 500;   
        word-wrap: break-word;
    }

    &.big {
        height: 60px;
        span {
            font-size: 18px;
            font-weight: 500;
            word-wrap: break-word;
        }
    }
}

.secondary {
    border-radius: 5px;
    border: 1px solid;
    background: transparent;
    height: 38px;

    span {
        font-size: 18px;
        font-weight: 500;   
        word-wrap: break-word;
    }

    &:hover {
        border: 2px solid;
    }
    
    &:active {
        border: 1px solid;
    }
}
