<div
  class="banner-titles"
  style="
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
  ">
  <h1
    class="H1"
    style="
      color: #181e4b;
      font-size: 30px;
      font-family: Inter;
      font-weight: 800;
      word-wrap: break-word;
    ">
    Vuelve a volar<br />en cielos<br />claros y sin<br />turbulencias
  </h1>
  <div
    class="P"
    style="
      color: #181e4b;
      font-size: 14px;
      font-family: Inter;
      font-weight: 600;
      text-transform: uppercase;
      word-wrap: break-word;
    ">
    Conoce más sobre<br />nuestras políticas<br />pensadas para ti
  </div>
  <div
    class="Cta"
    style="
      height: 40px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      background: #f1a501;
      box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      display: inline-flex;
    ">
    <div
      class="Boton"
      style="
        color: white;
        font-size: 14px;
        font-family: Inter;
        font-weight: 500;
        word-wrap: break-word;
      ">
      Conoce más aquí
    </div>
  </div>
</div>
<img
  class="traveller1"
  style="width: 289px; height: 288px"
  src="assets/images/traveler.png"
  alt="" />
<img
  class="decore"
  style="width: 175px; height: 320px"
  src="assets/images/decore.svg"
  alt="" />
