@import '../../../styles/setting/mixins';

:host {
  width: 100%;
  .banner {
    height: 328px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: relative;
    .section__title {
      padding: 12px 0;
      z-index: 10;
      align-items: flex-start;
      gap: 24px;
      width: 210px;
  
      &-heading {
        text-align: start;
      }
  
      p {
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        word-wrap: break-word;
      }
    }
  
    .banner__traveler {
      position: absolute;
      right: -40px;
      bottom: -16px;
      z-index: 5;
      width: 289px;
      height: 288px;
    }
  
    .banner__decore {
      position: absolute;
      right: -16px;
      top: -64px;
      z-index: 0;
      width: 175px;
      height: 320px;
    }
  }


  @include breakpoint-up(md) {
    .banner {
      height: 524px;

      .section__title {
        width: 349px;
      }
  
      .banner__traveler {
        right: -40px;
        bottom: -60px;
        width: 522px;
        height: 521px;
      }

      .banner__decore {
        height: 577px;
        width: 390px;
        top: -64px;
        right: -60px;
      }
    }
  }

  @include breakpoint-up(lg) {
    .banner {
      height: 748px;

      .section__title {
        width: 566px;
      }

      .banner__traveler {
        width: 695px;
        height: 694px;
        right: -40px;
        bottom: -30px;
      }

      .banner__decore {
        height: 760px;
        width: 552px;
        top: -64px;
        right: -80px;
      }
    }
  }
}
