@import '../../../styles/setting/mixins';

app-flights-form {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    display: flex;

    .flights-form {
        align-self: stretch;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: flex;

        &__radio-buttons {
            justify-content: flex-start;
            align-items: flex-start;
            gap: 40px;
            display: inline-flex;

            .mdc-form-field {
                height: 24px;
            }
        }

        &__input-container {
            align-self: stretch;
            height: 48px;
            justify-content: space-between;
            align-items: center;
            display: inline-flex;
            font-size: 14px;
            font-weight: 400;
            position: relative;
            
            .flights-form__input {
                border-width: 2px;
                border-style: solid;
                padding-right: 16px;
                padding-left: 16px;
                height: 100%;
                width: 100%;
                border-radius: 10px;
            }

            .flights-form__input-clear {
                position: absolute;
                right: 16px;
                cursor: pointer;
            }
        }

        &__date-picker {
            align-self: stretch;
            border: 2px solid;
            border-radius: 10px;
            height: 48px;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 14px;
            font-weight: 400;

            .mat-mdc-text-field-wrapper {
                padding: 0;

                .mat-mdc-form-field-flex {
                    align-items: center;
                    height: 48px;
                }
            }
            

            .mat-mdc-form-field-subscript-wrapper,
            .mdc-line-ripple {
                display: none;
            }

            .mat-mdc-icon-button.mat-mdc-button-base,
            .mat-mdc-icon-button .mat-mdc-button-touch-target {
                width: 24px;
                height: 24px;
                padding: 0;
            }

        }

        &__select.ng-select.ng-select-single {
            align-self: stretch;

            &.ng-select-focused {
                .ng-select-container {
                    border: 2px solid;
                }

                &:not(.ng-select-opened) {
                    .ng-select-container {
                        box-shadow: none;
                    }
                }
            }
            
            .ng-select-container {
                border: 2px solid;
                border-radius: 10px;
                height: 48px;
                padding-left: 16px;
                padding-right: 16px;
                font-size: 14px;
                font-weight: 400;

                .ng-value-container {
                    padding: 0;
                }

                .ng-arrow-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 0;
                    background-image: url('https://agarciam14.github.io/Satena_F2X/assets/icons/keyboard_arrow_down.svg');
                    background-repeat: no-repeat;
                    background-size: 24px 24px;
                    width: 24px;
                    height: 24px;

                    .ng-arrow {
                        border-color: none;
                        border-style: none;
                        border-width: 0;
                        
                    }
                }
            }
        }
    }

    .flights-form__submit {
        width: 100%;
    }

    @include breakpoint-up(md) {
        .flights-form {
            flex-direction: row;
            flex-wrap: wrap;
            max-width: 740px;
            align-self: unset;
    
            & > * {
                width: calc( 50% - 12px);
            }
    
            &__radio-buttons {
                width: 100%;
            }
        }

        .flights-form__submit {
            width: 300px;
        }

    }
}