<form [formGroup]="flightForm" class="flights-form">
  <mat-radio-group class="flights-form__radio-buttons">
    <mat-radio-button value="1">Solo ida</mat-radio-button>
    <mat-radio-button value="2">Ida y regreso</mat-radio-button>
  </mat-radio-group>
  <div class="flights-form__input-container">
    <input
      class="flights-form__input"
      type="text"
      placeholder="Desde"
      formControlName="from" />
    <mat-icon
      class="flights-form__input-clear"
      *ngIf="flightForm.get('from')?.value"
      (click)="clearInput('from')"
      (keyup)="clearInput('from')"
      >cancel</mat-icon
    >
  </div>
  <div class="flights-form__input-container">
    <input
      class="flights-form__input"
      type="text"
      placeholder="Hacia"
      formControlName="to" />
    <mat-icon
      class="flights-form__input-clear"
      *ngIf="flightForm.get('to')?.value"
      (click)="clearInput('to')"
      (keyup)="clearInput('to')"
      >cancel</mat-icon
    >
  </div>
  <mat-form-field class="flights-form__date-picker">
    <input
      matInput
      [matDatepicker]="departureDatePicker"
      placeholder="Ida"
      formControlName="departureDate" />
    <mat-datepicker-toggle matIconSuffix [for]="departureDatePicker">
      <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #departureDatePicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="flights-form__date-picker">
    <input
      matInput
      [matDatepicker]="returnDatePicker"
      placeholder="Regreso"
      formControlName="returnDate" />
    <mat-datepicker-toggle matIconSuffix [for]="returnDatePicker">
      <mat-icon matDatepickerToggleIcon>calendar_month</mat-icon>
    </mat-datepicker-toggle>
    <mat-datepicker #returnDatePicker></mat-datepicker>
  </mat-form-field>
  <ng-select
    class="flights-form__select"
    [clearable]="false"
    [searchable]="false"
    formControlName="passengersNumber"
    [items]="passengers"
    bindLabel="viewValue"
    bindValue="value"
    placeholder="Número de pasajeros"></ng-select>
  <ng-select
    class="flights-form__select"
    [clearable]="false"
    [searchable]="false"
    formControlName="category"
    [items]="categories"
    bindLabel="viewValue"
    bindValue="value"
    placeholder="Categoría"></ng-select>
</form>
<app-button class="flights-form__submit" label="Buscar" [size]="buttonSize" />
