<!-- eslint-disable @angular-eslint/template/interactive-supports-focus -->
<div class="testimonials__title">
  <div class="section__title">
    <div class="section__title-subheading">Testimonios</div>
    <h2 class="section__title-heading">Comentarios de<br />otros viajeros</h2>
  </div>
  <div class="testimonials__dots">
    <div class="testimonials__dot testimonials__dot--primary"></div>
    <div class="testimonials__dot testimonials__dot--secondary"></div>
  </div>
</div>
<div class="testimonials__card-container">
  <app-testimonial-card
    [testimonial]="testimonials[activeIndex]"
    [size]="cardSize" />
  <app-testimonial-card
    [testimonial]="testimonials[nextIndex]"
    [size]="cardSize"
    type="secondary" />
  <div class="testimonials__card-navigation">
    <img
      (click)="prev()"
      (keypress)="prev()"
      class="testimonials__card-navigation__arrow"
      src="assets/icons/arrow_up.svg"
      alt="" />
    <img
      (click)="next()"
      (keypress)="next()"
      class="testimonials__card-navigation__arrow"
      src="assets/icons/arrow_down.svg"
      alt="" />
  </div>
</div>
