<div
  class="SectionTestimonios"
  style="
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    display: inline-flex;
  ">
  <div
    class="TestimoniosTitulos"
    style="
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 48px;
      display: flex;
    ">
    <div
      class="Div"
      style="
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
        display: flex;
      ">
      <div
        class="Subheading"
        style="
          color: #5e6282;
          font-size: 14px;
          font-family: Inter;
          font-weight: 600;
          text-transform: uppercase;
          word-wrap: break-word;
        ">
        Testimonios
      </div>
      <h2
        class="H2"
        style="
          text-align: center;
          color: #181e4b;
          font-size: 30px;
          font-family: Inter;
          font-weight: 700;
          word-wrap: break-word;
        ">
        Comentarios de<br />otros viajeros
      </h2>
    </div>
    <div class="Group61" style="width: 50px; height: 12px; position: relative">
      <div
        class="Ellipse25"
        style="
          width: 12px;
          height: 12px;
          left: 0px;
          top: 0px;
          position: absolute;
          background: #181e4b;
          border-radius: 9999px;
        "></div>
      <div
        class="Ellipse26"
        style="
          width: 12px;
          height: 12px;
          left: 38px;
          top: 0px;
          position: absolute;
          background: #f7f7f7;
          border-radius: 9999px;
        "></div>
    </div>
  </div>
  <div
    class="Component32"
    style="width: 292px; height: 499px; position: relative">
    <div
      class="TarjetasComentarios"
      style="
        height: 222px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 24px;
        padding-bottom: 24px;
        left: 42px;
        top: 159px;
        position: absolute;
        border-radius: 10px;
        border: 3px #f7f7f7 solid;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: inline-flex;
      ">
      <div
        class="Component17"
        style="
          width: 40px;
          height: 40px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
        ">
        <img
          class="Foto1"
          style="width: 40px; height: 40px; border-radius: 9999px"
          src="https://via.placeholder.com/40x40"
          alt="" />
      </div>
      <div
        class="Comentario"
        style="
          align-self: stretch;
          color: #5e6282;
          font-size: 12px;
          font-family: Inter;
          font-weight: 400;
          line-height: 20.4px;
          word-wrap: break-word;
        ">
        "Fue un vuelo muy puntual, sin ningún problema al momento de comprar.
        Recomiendo completamente usar Satena para viajar"
      </div>
      <div
        class="Frame64"
        style="
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 8px;
          display: flex;
        ">
        <div
          class="Nombre"
          style="
            color: #5e6282;
            font-size: 18px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          ">
          Andrés Guzman
        </div>
        <div
          class="Frame69"
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            display: inline-flex;
          ">
          <div
            class="Lugar"
            style="
              color: #5e6282;
              font-size: 12px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            ">
            Bogotá
          </div>
          <div
            class="FlightTakeoff"
            style="width: 20px; height: 20px; position: relative">
            <div
              class="Vector"
              style="
                width: 16.68px;
                height: 14.42px;
                left: 1.66px;
                top: 2.79px;
                position: absolute;
                background: #5e6282;
              "></div>
          </div>
          <div
            class="Lugar"
            style="
              color: #5e6282;
              font-size: 12px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            ">
            Nuquí
          </div>
        </div>
      </div>
    </div>
    <div
      class="Group69"
      style="height: 14px; left: 110px; top: 485px; position: absolute">
      <div
        class="Flechas"
        style="
          width: 14px;
          height: 7px;
          left: 0px;
          top: 14px;
          position: absolute;
          transform: rotate(-90deg);
          transform-origin: 0 0;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          display: inline-flex;
        ">
        <div
          class="Vector2"
          style="width: 14px; height: 7px; border: 2px #a7b0bf solid"></div>
      </div>
      <div
        class="Flechas"
        style="
          width: 14px;
          height: 7px;
          left: 64.5px;
          top: 14px;
          position: absolute;
          transform: rotate(-90deg);
          transform-origin: 0 0;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          display: inline-flex;
        ">
        <div
          class="Vector3"
          style="width: 14px; height: 7px; border: 2px #a7b0bf solid"></div>
      </div>
    </div>
    <div
      class="TarjetasComentarios"
      style="
        height: 222px;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 24px;
        padding-bottom: 24px;
        left: 0px;
        top: 64px;
        position: absolute;
        background: white;
        box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.05);
        border-radius: 10px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 24px;
        display: inline-flex;
      ">
      <div
        class="Component17"
        style="
          width: 68px;
          height: 68px;
          justify-content: center;
          align-items: center;
          display: inline-flex;
        ">
        <img
          class="Image"
          style="width: 68px; height: 68px; border-radius: 9999px"
          src="https://via.placeholder.com/68x68"
          alt="" />
      </div>
      <div
        class="Comentario"
        style="
          align-self: stretch;
          color: #5e6282;
          font-size: 12px;
          font-family: Inter;
          font-weight: 400;
          line-height: 20.4px;
          word-wrap: break-word;
        ">
        “Necesitaba cambiar las fechas de mi viaje, me comuniqué con Satena y
        fue fácil y rápido hacerlo. El mejor servicio al cliente que he usado”
      </div>
      <div
        class="Frame64"
        style="
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          gap: 8px;
          display: flex;
        ">
        <div
          class="Nombre"
          style="
            color: #5e6282;
            font-size: 18px;
            font-family: Inter;
            font-weight: 600;
            word-wrap: break-word;
          ">
          Erick Padilla
        </div>
        <div
          class="Frame69"
          style="
            justify-content: flex-start;
            align-items: center;
            gap: 8px;
            display: inline-flex;
          ">
          <div
            class="Lugar"
            style="
              color: #5e6282;
              font-size: 12px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            ">
            Medellín
          </div>
          <div
            class="FlightTakeoff"
            style="width: 20px; height: 20px; position: relative">
            <div
              class="Vector"
              style="
                width: 16.68px;
                height: 14.42px;
                left: 1.66px;
                top: 2.79px;
                position: absolute;
                background: #5e6282;
              "></div>
          </div>
          <div
            class="Lugar"
            style="
              color: #5e6282;
              font-size: 12px;
              font-family: Inter;
              font-weight: 400;
              word-wrap: break-word;
            ">
            Caracas
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
