@import 'src/styles/setting/mixins';

app-testimonials {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
    display: inline-flex;

    .testimonials__title {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 48px;
        display: flex;

        .testimonials__dots {
            width: 50px;
            height: 12px;
            position: relative;

            .testimonials__dot {
                width: 12px;
                height: 12px;
                top: 0px;
                position: absolute;
                border-radius: 50%;

                &--primary {
                    left: 0px;
                }

                &--secondary {
                    left: 38px;
                }
            }
        }
    }

    .testimonials__card-container {
        width: 292px;
        height: 499px;
        position: relative;
        padding-top: 64px;
    
        app-testimonial-card {
            >div {
                z-index: 1;
            }
            
            &.secondary {
                z-index: 0;
                position: absolute;
                right: 0;
                top: 159px;
            }
        }

        .testimonials__card-navigation {
            height: 14px;
            left: 110px;
            top: 485px;
            position: absolute;

            img {
                cursor: pointer;
                width: 14px;
                height: 7px;
                left: 0px;
                top: 14px;
                position: absolute;
                transform: rotate(-90deg);
                transform-origin: 0 0;
            }

            :last-child {
                left: 64.5px;
            }
        }
    }
}

@include breakpoint-up(md) {
    app-testimonials {
        .testimonials__card-container {
            display: inline-flex;
            flex-direction: row;
            justify-content: space-between;
            width: 632px;
            height: 321px;
            padding-top: 0;

            app-testimonial-card {
                &.secondary {
                    left: 49px;
                    bottom: 0;
                    top: unset;
                    right: unset;
                }
            }

            .testimonials__card-navigation {
                height: 71.50px;
                width: 14px;
                position: relative;
                top: unset;
                left: unset;
                align-self: center;

                img {
                    width: 14px;
                    height: 7px;
                    left: 0px;
                    top: 0px;
                    position: absolute;
                    transform: rotate(0deg);
                    transform-origin: 0 0;
                }

                :last-child {
                    top: 64.5px;
                    left: unset;
                }
            }
        }
    }
}

@include breakpoint-up(lg) {
    app-testimonials {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

        .testimonials__title {
            align-items: flex-start;

            .section__title {
                align-items: flex-start;

                .section__title-heading,
                .section__title-subheading {
                    text-align: start;
                }
            }
        }
    }
}