<div [ngClass]="classes">
  <img
    class="testimonial-card__img"
    alt=""
    [src]="testimonial.profilePicture" />
  <p class="testimonial-card__main">
    {{ testimonial.commentary }}
  </p>
  <div class="testimonial-card__bottom">
    <div class="testimonial-card__name">
      {{ testimonial.userName }}
    </div>
    <div class="testimonial-card__places">
      <span>
        {{ testimonial.origin }}
      </span>
      <mat-icon>flight_takeoff</mat-icon>
      <span>
        {{ testimonial.destination }}
      </span>
    </div>
  </div>
</div>
